#==============================================================================
# EXCLUDE EDITOR AND LOCAL BUILD FILES
#==============================================================================
.DS_Store
*.tgz
*.swp
*.bak